.input-bookForm{
    visibility: hidden;
}
.contain_bookForm{
    width: 50%;
    height: 200px;
    label{
        cursor: pointer;
        border: 1px dashed #000000;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      
    }
    
}