<div class="row">
  <div class="col-xs-12 ">
    <h2>Vos livres</h2>
    <div class="list-group">
      <button class="list-group-item " style="display: inline-flex;" *ngFor="let book of books; let i = index"
        (click)="onViewBook(i)">
        <div>
          <img [src]="book.photo" style="max-width: 50px;" >
        </div>
        <div style="width: 100%; margin: 0 1rem;">
          <h3 class="list-group-item-heading">
            {{ book.title }}
            <button class="btn btn-default pull-right" (click)="onDeleteBook(book)">
              supprimer
            </button>
          </h3>
          <p class="list-group-item-text">{{ book.author }}</p>
        </div>

      </button>
    </div>
    <button class="btn btn-primary" (click)="onNewBook()">Nouveau livre</button>
  </div>
</div>
