<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Créer un compte</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email : </label>
        <input type="text" id="email" class="form-group" formControlName="email">
      </div>

      <div class="form-group">
        <label for="password">Password : </label>
        <input type="password" id="password" class="form-group" formControlName="password" [(ngModel)]="nbrPassword"> <span class="text-danger" style="font-size: 1rem;" [ngStyle]="{'color': nbrPassword.length > 5 ?'green' : '#DC3545' }"> 6 caratère minimum</span>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="signUpForm.invalid"> SignUp</button>
    </form>
    <p class="text-danger" *ngIf="errorMessage">Email ou mot de passe incorrect </p>
  </div>
</div>
